* {
  all: unset;
  font-size: 14px;
  font-family: "Agave Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: #cdd6f4;
}

scale trough {
  margin: 0rem 1rem;
  background-color: #313244;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #89b4fa;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.15), inset 0 0 0 2px #ffffff;
  border-radius: 13px;
  margin: 18px;
  background-color: #000000;
  color: #cdd6f4;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 8px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 6px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  font-size: 17px;
  color: #ffffff;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #ffffff;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  margin-top: 13px;
  font-size: 13px;
  color: #ffffff;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #313244;
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #000000;
  background-color: #ffffff;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #000000;
  color: #ffffff;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.15), inset 0 0 0 1px #ffffff;
  border-radius: 13px;
  margin: 18px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #cdd6f4;
  padding: 15px;
}

.control-center .widget-title > label {
  color: #ffffff;
  font-size: 1.5em;
}

.control-center .widget-title button {
  color: #ffffff;
  padding: 8px;
}

.control-center .widget-title button:hover {
  border-radius: 18px;
  background-color: #ffffff ;
  color: black;
}

.control-center .widget-title button:active {
  border-radius: 18px;
  background-color: #000000;
  color: #ffffff;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  background-color: #000000;
  box-shadow: inset 0 0 0 1px #ffffff;
  margin-top: 10px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: #ffffff;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #ffffff;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #ffffff;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 5em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  color: #ffffff;
  border-radius: 8px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  border-radius: 18px;
  background-color: #ffffff;
  color: black;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  border-radius: 18px;
  background-color: #ffffff;
  color: #000000;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #000000;
  background-color: #ffffff;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #000000;
  color: #ffffff;
}

.control-center .notification-row .notification-background:hover {
  background-color: #000000;
  border-radius: 18px;
}


.control-center .notification-row .notification{
  color: black;
}


.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px #ffffff;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 18px;
  background-color: #ffffff;
}

.control-center .notification-row .notification-background:hover .notification-action {
  background-color: #e0e0e0;
  color: #000000;
  box-shadow: inset 0 0 0 1px #aaa;
}

.control-center .notification-row .notification-background:hover .image {
  background: none;
}

.notification.critical progress {
  background-color: #f38ba8;
}


.notification.low progress,
.notification.normal progress {
  background-color: #89b4fa;
}

.control-center-dnd {
  margin-top: 5px;
  color: #ffffff;
}

.control-center-dnd:checked {
  color: #000000;
}

.control-center-dnd slider {
  background: #000000;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  color: #ffffff;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #000000;
  border: 1px solid #ffffff;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #ffffff;
}

.widget-dnd > switch slider {
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #ffffff;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244;
}

.control-center .widget-label > label {
  color: #ffffff;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #74c7ec;
}

.widget-volume trough highlight {
  background: #74c7ec;
}

.widget-backlight trough highlight {
  background: #f9e2af;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f9e2af;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}


@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);
@define-color theme_fg rgba(0, 0, 0, 0.90); /* Primary Text */
@define-color theme_fg_secondary black; /* Secondary Text */
@define-color icon_primary @theme_fg;
@define-color icon_secondary rgba(215, 220, 225, 0.88);
.widget-mpris {
  padding: 0;
  border: none;
  border-radius: 18px;
  background: transparent;
}
.widget-mpris .widget-mpris-player {
  background-color: @mpris-album-art-overlay;
  border-radius: 12px;
  border: 2px solid white;
  padding: 0px;
}
.widget-mpris .widget-mpris-album-art {
  background: none;
  min-width: 60px;
  min-height: 60px;
  margin-right: 12px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.widget-mpris .widget-mpris-title {
  font-size: 20px;
  font-weight: 600;
  color: @theme_fg;
  margin-bottom: 4px;
  background: none;
}
.widget-mpris .widget-mpris-subtitle {
  font-size: 16px;
  color: @theme_fg_secondary;
  background: none;
}
.widget-mpris .widget-mpris-player button {
  all: unset;
  background: transparent;
  border-radius: 50%;
  padding: 7px;
  margin-bottom: 4px;
  color: black;
  font-size: 16px;
  min-width: 22px;
  min-height: 22px;
  transition: background-color 0.15s ease, color 0.15s ease;
}
.widget-mpris .widget-mpris-player button:hover {
  background-color: @mpris-button-hover;
  color: @icon_primary;
}
.widget-mpris .widget-mpris-player button:disabled {
  color: alpha(@icon_secondary, 0.3);
}

.image {
  padding-right: 0.5rem;
}
